/**************************
Tables
***************************/
.tables {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  .table {
    border-collapse: collapse;
    width: 100%;
  }
}
/**************************
Rows
***************************/
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  &:nth-of-type(1) {
    span {
      background: var(--accent-color);
      color: var(--white-1);
    }
  }
  span {
    text-align: left;
    padding: 8px;
    font-size: 0.9rem;
    font-weight: 500;
    border-collapse: collapse;
    padding: 0.8rem;
    text-align: center;
    color: var(--tertiary-color);
    background: var(--secondry-background);
    border: 1px solid var(--tertiary-background);
  }
  &:nth-of-type(1) {
    span {
      border: none;
      font-size: 1rem;
    }
  }
}

// @media screen and (max-width: 768px) {
// }
